# python virtual environment
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vscode config
.vscode

# dataset folder
training_datas/*
!training_datas/.gitkeep

# test data folder
test_images/*
!test_images/img1.jpg
!test_images/img2.jpg
!test_images/img3.jpg
!test_images/img4.jpg
!test_images/img5.jpg

# trained models folder
trained_models/*
!trained_models/.gitkeep

# outputs folder
outputs/
!outputs/.gitkeep

# tensorboard logs
tensorboard_logs/*
!tensorboard_logs/.gitkeep
