# python virtual environment
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vscode config
.vscode

# dataset folder
data/*
!data/.gitkeep

# test data folder
tests_data/*
!tests_data/1.jpg
!tests_data/2.jpg
!tests_data/3.jpg
!tests_data/4.jpg
!tests_data/5.jpg

# trained models folder
trained_models/*
!trained_models/.gitkeep

# outputs folder
outputs/
!outputs/.gitkeep
